<div class="media col-8 mt-2" id="modelo">
  <div class="media-left align-self-center mr-3">
      <img class="rounded-circle" src="https://image.flaticon.com/icons/png/512/64/64572.png">
  </div>
  <div class="media-body">
      <h4 class="nombre">{{user.nombre}}</h4>
      <p class="domicilio">Domicilio: {{user.domicilio}} </p>
      <p class="fecha">Fecha de Nacimiento: {{user.fecha}} </p>
      <p class="cp">Código Postal: {{user.cp}} </p>
      <p class="mail">Correo: {{user.mail}} </p>
      <p class="password">Contraseña: {{user.password}} </p>
      
  </div>

</div>
